<h2>Track List</h2>

<%= form_tag action: :update do %>
  <ul>
    <% @collection.each do |li| %>
      <li>
        <%= check_box_tag 'lists[]', li.id %>
        <%= li.window.name.first(3) %> :: <%= li.name %>
      </li>
    <% end %>
  </ul>
  <%= button_to 'Save', list_path, method: :patch %>
<% end %>
