<h4><%= @list.name %></h4>
<p>Budget: <%= sprintf("%0.02f", @list.budget) %> EUR</p>
<p>Spent: <%= sprintf("%0.02f", @list.current_value) %> EUR</p>
<% if @list.exceeded %>
  <h2>STOP SPENDING!!!!</h2>
<% end %>

<h5><%= link_to "Delete", list_path(@list), method: :delete,
            data: { confirm: "Are you sure? All data will be lost!" } %>
</h5>

<hr>

<h4><%= link_to "+ Item", new_list_item_path(@list) %></h4><br>

<% unless @list.items.empty? %>
  <% @list.items.each do |item| %>
    <h4><%= item.name %></h4>
    <p>Value: <%= sprintf("%0.02f", item.value) %> EUR</p>
    <h6><%= link_to "Delete", item_path(item), method: :delete,
            data: { confirm: "Are you sure? All data will be lost!" } %></h6>
  <% end %>
<% end %>

<hr>

<h4><%= link_to ">> List", lists_list_path %></h4><br>

<% unless @list.tracked_lists.empty? %>
  <% @list.tracked_lists.each do |li| %>

    <h4><%= link_to li.name, list_path(li) %></h4>

    <p>Budget: <%= sprintf("%0.02f", li.budget) %> EUR</p>

    <p>Window: <%= link_to li.window.name, window_path(li.window.id) %></p>

    <h6><%= link_to "Remove", list_path(li_id: li.id ), method: :patch,
            data: { confirm: "Are you sure?" } %>
    </h6>

  <% end %>
<% end %>
