<h3><%= @window.name %></h3>

<p><%= "#{@window.start_date.strftime("%d.%m.%Y")} -
        #{@window.end_date.strftime("%d.%m.%Y")}" %></p>

<p>Budget: <%= sprintf("%0.02f", @window.budget) %> EUR</p>

<h5><%= link_to "Delete", window_path(@window), method: :delete,
            data: { confirm: "Are you sure? All data will be lost!" } %>
</h5>

<hr>

<h4><%= link_to "+ List", new_window_list_path(@window) %></h4><br>

<% unless @window.lists.empty? %>
  <% @window.lists.each do |list| %>

    <h4><%= link_to list.name, list_path(list) %></h4>

    <p>Budget: <%= sprintf("%0.02f", list.budget) %> EUR</p>

  <% end %>
<% end %>

<hr>

<h4><%= link_to ">> List", lists_window_path %></h4><br>

<% unless @window.tracked_lists.empty? %>
  <% @window.tracked_lists.each do |li| %>

    <h4><%= link_to li.name, list_path(li) %></h4>

    <p>Budget: <%= sprintf("%0.02f", li.budget) %> EUR</p>

    <p>Window: <%= li.window.name %> </p>

    <h6><%= link_to "Remove", window_path(li_id: li.id), method: :patch,
            data: { confirm: "Are you sure?" } %>
    </h6>

  <% end %>
<% end %>

<hr>

<h4><%= link_to ">> Window", windows_window_path %></h4><br>

<% unless @window.tracked_windows.empty? %>
  <% @window.tracked_windows.each do |win| %>

    <h4><%= link_to win.name, window_path(win) %></h4>

    <p>Budget: <%= sprintf("%0.02f", win.budget) %> EUR</p>

    <h6><%= link_to "Remove", window_path(win_id: win.id), method: :patch,
            data: { confirm: "Are you sure?" } %>
    </h6>

  <% end %>
<% end %>
