<h3><%= @window.name %></h3>
<p><%= "#{@window.start_date.strftime("%d.%m.%Y")} -
        #{@window.end_date.strftime("%d.%m.%Y")}" %></p>
<p>Budget: <%= sprintf("%0.02f", @window.budget) %> EUR</p>
<br>
<% unless @window.lists.empty? %>
  <h4>LISTS:</h4>
  <% @window.lists.each do |list| %>
    <h4><%= link_to list.name, list_path(list) %></h4>
    <p>Budget: <%= sprintf("%0.02f", list.budget) %> EUR</p>
  <% end %>
  <br>
<% end %>
<!-- Need to also include tracked_lists -->

<% unless @window.tracked_windows.empty? %>
  <h4>WINDOWS:</h4>
  <% @window.tracked_windows.each do |win| %>
    <h4><%= link_to win.name, window_path(win) %></h4>
    <p>Budget: <%= sprintf("%0.02f", win.budget) %> EUR</p>
  <% end %>
<% end %>
