<nav class="navbar navbar-light sticky-top navbar-lewagon">
  <ul class="navbar-nav d-flex flex-row mx-auto">
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to "Open", open_windows_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Closed", closed_windows_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Templates", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Overviews", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
    <% end %>
  </ul>
</nav>
