<nav class="navbar navbar-light sticky-top navbar-lewagon">
  <ul class="navbar-nav d-flex flex-row mx-auto">
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to "Open", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Closed", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "New", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Search", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Log Out", "#", class: "nav-link" %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
    <% end %>
  </ul>
</nav>
